@model Hospital.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<section class="content">
    <div class="container-fluid">
       
        <div class="row clearfix">

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="body">

                            <label>Photo</label>
                            <img src="~/Uploads/@Model.Photo" class="img-thumbnail rounded-circle" alt="profile-image">
                            <label>Name</label>
                            <h4 class="m-b-5 m-t-20">@Model.FullName</h4>
                            <label>Department Name</label>
                            <p class="text-muted">@Model.Department.Name</p>
                            <label>Email</label>
                            <a style="display:block" href="javascript:void(0);" class="text-pink">@Model.Email</a>
                          
                            <label style="display:block">Phone</label>
                            <p style="display:block" class="text-muted">@Model.Phone</p>

                        </div>
                    </div>
                </div>

        </div>
        <div class="row clearfix">
            <div class="col-sm-12 text-center">
                <a href="@Url.Action("create","Doctors")" class="btn btn-raised g-bg-cyan">Add Doctor</a>
            </div>
        </div>
    </div>
</section>